* 
{
    box-sizing: border-box;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none ;
    color: #000;
}

body {
    min-height: 100%;
    height:auto;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Inter', sans-serif; */
    font-size: 16px;
    background-color: white;
    background-size: cover;
    background-color: rgba(246, 246, 85, 0.43);
}


/* Header */

.header {
    height: auto;
    
    width: 100%;
    display: flex;
    position: fixed;
    margin: 0 auto;
    top: 0;
    z-index: 100;
    padding: 20px;
    justify-content: center;
   
    
}

.header__menu{
    width: 100%;
    list-style: none;
    margin: auto;
    align-items: center;
    vertical-align: middle;
    padding: 0px;
    text-align: center;
    padding-left: 0px;
}


.header__menu li {
    width: 15%;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    vertical-align: middle;
    font-family: 'Lobster',cursive;
    font-size:xx-large;
}

.header__menu li a
{
    color: white;
}

/* #colore
{
    color: white;
} */



#active
{
    color: orange;
}

.header__img {
    width: 50px;
    height: 120px;
}

.header__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* index */
.container__Intro {
    position: relative;
    width: 100%;
    padding: 15px;
    /* background: linear-gradient(0deg, rgba(0,0,0,.2), rgba(0,0,0,0.7)), url() no-repeat center center;  */
    background-size: cover;
    /* overflow: hidden; */
    display: flex;
    height: fit-content;
    z-index: 0;
    /* top: 150px; */
}

#container__Intro
{
    height: 160vh;
    overflow-x: hidden;
}

#padding
{
    margin: 5px;
}

#backwhite
{
    background-color: rgba(250, 159, 40, 0.904);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 60px;
    margin-bottom: 40px;
    padding-top: 20px;
    height: auto;
}
#backwhite3
{
    background-color: rgba(250, 159, 40, 0.904);
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 60px;
    margin-bottom: 40px;
    padding-top: 20px;
    height: auto;
}

#backwhite2
{
    background-color: rgba(250, 159, 40, 0.904);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 60px;
    margin-bottom: 40px;
    /* padding-top: 20px; */
    padding:50px;
    height: auto;
}

.tab_dati_personali{
	/* width: 500px; */
	text-align: left;
	margin: auto;
    /* font-weight: bold; */
    font-size: 23px;
    font-family: 'Lobster',cursive;
}
.tab_dati_personali2{
	/* width: 500px; */
	text-align: left;
	margin: auto;
    /* font-weight: bold; */
    font-size: 23px;
    font-family: 'Lobster',cursive;
}

.container__Intro::after {
    content: ' ';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0, .4) 70%, rgb(0, 0, 0, .9));
    z-index: 5;
}

.container__Intro__text {
    width: 70%;
    align-content: center;
    z-index: 10;
    margin-top: 180px;
    /* background-color: white; */
    margin-left: 15%;
    margin-right: 15%;
    color: white;
}

.container__Intro__text h2 {
    width: 100%;
    /* float: left; */
    font-family: 'Lobster',cursive;
    font-size:xx-large;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

.container__Intro__text h1 {
    width: 100%;
    /* float: left; */
    font-family: 'Lobster',cursive;
    font-size:xx-large;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

#smaller
{
    font-size: 40px;
}

.container__Intro__text p {
    width: 100%;
    z-index: 10;
    padding: 10px;
    /* float: left; */
    text-align: center;
    font-size: 23px;
    padding: 5px;
}

#video-back {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
    overflow-x: hidden;
}

#video-back2
{
    height: 100%;
}

.Login
{
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Lobster',cursive;
}

.caselle
{
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#accedi
{
    margin-top: 10px;
    background-color: white;
    font-family: 'Lobster',cursive;
    padding: 5px;
}

#corsivo
{
    font-family: 'Lobster',cursive;
}

#corsivo a:hover{
    color: white;
}


/* miele */

.container__Miele__img {
    width: 40%;
    float: left;
    /* height: 80vh;
    margin-top: 15vh;
    margin-bottom: 5vh; */
    height: 100%;
    object-fit: cover;
    padding: 20px 0px;
}


.container__Miele__img img
{
    width:100%;
    height:100%;
    width: fit-content;
    align-items: center;
}

.pipi img
{
    width: 100%;
    height: 100%;
}    

.container__Miele__text {
    width: 60%;
    padding: 20px;
    float: left;
    font-size:larger;
}

.introduzione__miele
{
    width: 100%;
   
    margin-bottom: 0;
    text-align: center;
    font-size: larger;
    padding-left: 50px;
    padding-right:50px;
    margin-top: 160px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-right: auto;
}

.introduzione__miele h1
{
    font-family: 'Lobster',cursive;
    font-size: larger;
    margin: auto;
    width: 100%;
    font-size: 50px;
    padding: 20px;
}

.container__Miele__text
{
    padding: 20px;
}

.container__Miele__text h2
{
    font-family: 'Lobster',cursive;
    font-size:xx-large;
    margin: auto;
    width: 100%;
    padding: 5px;
    padding-left: 0;
}

.container__Miele__text p
{
    padding: 5px;
    padding-left: 0;
}

.Acacia
{
    border: 15px solid rgb(255, 255, 51);
    border-radius: 15px;
    margin: 30px 50px;
    
    
    
}

.Castagno
{
    border: 15px solid rgba(165, 42, 42, 0.521);
    border-radius: 15px;
    margin: 30px 50px;
}

.Tiglio
{
    border: 15px solid rgba(157, 165, 42, 0.521);
    border-radius: 15px;
    margin: 30px 50px;
}

.Tarassaco
{
    border: 15px solid rgba(194, 130, 0, 0.521);
    border-radius: 15px;
    margin: 30px 50px;
}
.container__Intro__text2 {
    width: 70%;
    align-content: center;
    z-index: 10;
    margin-top: 180px;
    /* background-color: white; */
    margin-left: 15%;
    margin-right: 15%;
    color: white;
}


/* footer */
.footer
{
    margin: auto;
    height: 100px;
    text-align: center;
    font-family: 'Lobster',cursive;
    font-size: 20px;
    color: white;
    position: relative;
    z-index: 5;
    justify-content: center;
}
.footer_scuro .footer{
    color:#000;
}
.footer--dark
{
    color: black;
}

.ul{
    display:inline-block;
}

.riduci
{
    width: 30px;
    height: 30px;
}

.riduci img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Mattavelli
{
    /* width: 70%;
    margin-left: 15%;
    margin-right: 15%; */
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
}

.Mattavelli ul li p{
    font-size: 15px;
}

#id li
{
    width: 30%;
    padding: 0;
    margin: 0;
}

#id li div
{
    display: inline-block;
    width: 20%;
    justify-content: center;
}

/* #black
{
    color: black;
} */

.header__menu li a:hover{
    color: orange;
}

#black
{
    color: black;
}

#black:hover
{
    color: orange;
}
.paddingaggiuntivo{
    padding:7px;

}

.tabella_input_2_colonne{
    text-align: left;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom:30px;
    font-family: 'Lobster',cursive;
    font-size:23px;
}
.tabella_input_2_colonne td{
    padding:7px;
    padding-left: 30px;
}
.centrato{
    text-align: center;
}
.tabella_input_2_colonne .centrato{
    padding:7px;
}

#cursive{
    font-family: 'Lobster',cursive;
}
.ape{
    
        text-align: center;
        width: 95%;
        font-family: 'Lobster',cursive;
        font-size:18px;
        margin: auto;
        margin-top: 30px;
        margin-bottom:30px;
}
.ape td{
    padding:7px;
}